@import './base.css';

#app {
  max-width: 1280px;
  margin: none !important;
  padding: none !important;
  font-weight: normal;
 
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(236, 242, 198, 0.6);
  max-width: 1919px; 
  
}

.el-card__body {
  display: flex;
  align-items: center;
 padding: none !important;
  
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  color: rgba(101, 115, 23, 1);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


